html {
  font-family: 'Raleway', sans-serif;
  font-weight: 400;
  font-size: 12px;
}

body {
  background-color: black;
  color: white;
}

h1 {
  margin: 1em auto;
}



.tittle {
  text-align: center;
}

.button {
  width: 138px;
  height: 23px;
  border-radius: 5px;
  padding: 5px;
  margin: 0 auto;
  cursor: crosshair;
  text-align: center;
  background-color: #121113;
  font-size: 13px;
  color: #c0cbff;
  margin-top: 6%;
}

.tic-tac-toe {
  width: 315px;
  height: auto;
  margin: 0 auto;
}

.title {
  height: 100px;
  width: 100px;
  display: inline-block;
  cursor: crosshair;
  position: relative;
  vertical-align: top;
  padding: 15px;
  margin-bottom: 5px;
  box-sizing: border-box;
  font-size: 60px;
  text-align: center;
}

.clean {
  background-color: #999;
}

.O-play,.X-play {
  background-color: #999;

}
